@charset "UTF-8";
body {
  background-image: linear-gradient(to right, white, darkslategray);
}
h1 {
    background-color: darkslategrey;
    margin: auto;
}
h2 {
    background-color: white;
    padding: 10px;
    margin: auto;
}