@charset "UTF-8";
#container {
  width: 968px auto;
}
body {
  background-image: linear-gradient(to right, white, darkslategray);
}
main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
  width: 1000px;
  padding: 10px;
  margin: auto;
}
h1 {
    background-color: darkslategrey;
    margin: auto;
    text-align: center;
}
h2 {
    background-color: white;
    padding: 10px;
    margin: auto;
    text-align: center;
}
h3 {
   text-align: center;
}
#menuPos {
   background-color: white;
   position: absolute;
   left: 20px;
   border-radius: 10px;
   padding: 0 0 15 15;
}
#menuPos > a{
  display:none;  
  text-align: initial;
}
#menuPos:hover > a {
  display: block;
  color: black;
  width: 200px;
  left: 20px;
}
div > a {
  text-align: center;
}
#palmeirasImgPos {
  position: absolute;
  left: 45%;
}
#corinthiansImgPos {
  position: absolute;
  left: 39%;
}
#saoPauloImgPos {
  position: absolute;
  left: 51%;
}
#santosImgPos {
  position: absolute;
  left: 57%;
}