@charset "UTF-8";
body{
    background-color: rgb(182, 126, 144);
}
#user {
    position: absolute;
    right:2%;
    background-color: rgb(176, 125, 224);
}
#user > a {
    display: none;
}
#user:hover > a {
    display: block;
    width: 130px;
    height: 30px;
    background-color: rgb(176, 125, 224);
}
 #create {
    margin: auto; 
    background-color: rgb(184, 184, 184);
    height: 400px;
    width: 500px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(92, 92, 92);
    box-shadow: 10px 10px 5px 2px;
    border-radius: 15px;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    margin-top: 40px;
}
#create > h1 {
    text-align: center;
}
div > h3 {
    position: absolute;
    right: 20%;
    top: 570px;
}
#login {
    margin: auto; 
    background-color: rgb(184, 184, 184);
    height: 200px;
    width: 500px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(92, 92, 92);
    box-shadow: 10px 10px 5px 2px;
    border-radius: 15px;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    margin-top: 40px;
}
#login > h1 {
    text-align: center;