@charset "UTF-8";
h1{
    text-align: center;
}
h2{
    text-align: center;
}
table{
    width: 400px;
    border-collapse: collapse;
    margin: auto;
}
td, th {
    border: solid black;
    padding: 10px;
}
thead, tfoot{
    background-color: rgb(231, 231, 231);
}
td.num {
    text-align: right;
}